body {
    position: absolute;
    left: 44%;
    top: 33%;
}
 
fieldset {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 6%;
}

fieldset .input {
    width: 30%;
    height: 30%;
}
#container {
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#grid {
    width: 33.3%;
    height: 33.3%;
    box-sizing: border-box;
    border: 1px solid black; /* 디버깅을 위해 테두리 추가 */
    display: flex;
    justify-content: center;
    align-items: center;
}